.search {
  background-color: #0079d3;
  border-color: #0079d3;
  color: aliceblue;
  fill: #0079d3;
  border: 1px solid;
  border-radius: 4px;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 24px;
  text-transform: uppercase;
  padding: 5px 16px;
  opacity: 0.7;
  width: 50px;
  height: 40px;
  float: left;
  display: inline;
  margin-left: 5px;
  margin-top: 10px;
}
.sicon {
  padding: 0px;
}
.messages {
  background-color: #0079d3;
  border-color: #0079d3;
  color: aliceblue;
  fill: #0079d3;
  border: 1px solid;
  border-radius: 4px;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 24px;
  text-transform: uppercase;
  padding: 5px 16px;
  opacity: 0.7;
  width: 50px;
  height: 40px;
  float: left;
  display: inline;
  margin-left: 5px;
  margin-top: 10px;
}
