.comm-page-header {
  height: 10vh;
}

.comm-page-bg {
  background-color: #dae0e6;

  flex-grow: 2;
}

.comm-page-about {
  margin-top: 19px !important;
  margin-left: 10px !important;
}

.tabs-home {
  width: 64vw;

  margin-left: 2vw;
  margin-top: 5px;
}

.title {
  text-align: left;
}

.title-text {
  margin-left: 2vw;
}

.post {
  width: 64vw !important;
  margin-left: 26px !important;
}
