.nav-bar {
  background-color: #ffff !important;
  height: 60px;
}

.button-text {
  color: #0079d3 !important;
}

.reddit-color {
  color: black;
}

.reddit-image {
  margin-top: 5px;
}

.icon {
  color: black;
}
